.btn-outline-primary {
    background: orange;
    color: #fff;
    padding: 20px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn-outline-secondary {
    background:green;
    color: #fff;
    padding: 20px;
    margin: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}